/* Media quarry*/
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 767px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 991px)";
$minLarge: "(min-width: 1200px)";
$maxLarge: "(max-width: 1199px)";

$main-color: #19c8fa;
$p-color: #777;
$transparent-color: #0f748fb3;
$section-background: #f6f6f6;
$section-padding: 100px;

$normalWidth: 100%;